@use "../../../styles/variables" as *;

.delete-confirmation-content {
  .delete-modal-message {
    padding: 16px 24px 26px;
    border-bottom: 1px solid $border-color;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 142%;
      word-wrap: break-word;
    }
  }

  .delete-modal-actions {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    padding: 8px;

    .fm-button {
      min-width: 120px;
      padding: 6px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      border-radius: 6px;
      transition: all 0.2s ease;

      &.fm-button-secondary {
        border: 1px solid $border-color;
        background: white;

        &:hover {
          background: white;
        }
      }

      &.fm-button-error {
        background: $error-color;
        color: white;
        border: 1px solid $error-color;

        &:hover {
          background: $error-color-hover;
          border-color: $error-color-hover;
        }
      }
    }
  }
}
