@use "../../styles/variables" as *;

.loader-container {
  @include flex-center;
  position: absolute;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-color: $contrast-color;
  z-index: 1000;
}

.spinner {
  font-size: 3rem;
  color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.upload-loading {
  position: relative;
  display: block;
  background-color: transparent;
  z-index: 0;

  .spinner {
    font-size: 0.9rem;
    color: black;
  }
}
