// App Specific Colors
$button-primary-bg-color: rgba(0, 0, 0, 0.2);
$button-secondary-bg-color: rgba(0, 0, 0, 0.1);

$tooltip-color: #e2e2e2;

$share-btn-color: #1f2937;
$share-btn-hover-color: #374151;
$action-border-color: rgba(0, 0, 0, 0.5);
$action-hover-color: #f9fafb;

$cell-color: #f8f9fa;
$cell-text-color: #6b7280;
$selected-cell-color: #e8f4fd;

// App Colors
$contrast-color: rgb(0, 0, 0, 0.05);
$success-color: #18b160;
$warning-color: #f77800;
$error-color: #e63143;
$error-color-hover: #b71c1c;
$border-color: #cfcfcf;

// Reusable Styles
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin overflow-y-scroll {
  overflow-y: auto !important;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    padding-top: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--file-manager-primary-color) !important;
    border-radius: 8px;
  }
}
