body {
  margin: 0;
}

.app {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32363a;

  .file-manager-container {
    height: 95%;
    width: 95%;

    .resource-manager {
      padding: 0px 20px 30px;
    }
  }
}
